body {
    font-family: sans-serif;
}
.container, footer {
    width: 800px;
    margin: 0 auto;
}
li {
    margin-bottom: 10px;
    line-height: 20px;
}
footer {
    border-top: 3px double black;
    padding-top: 1em;
    text-align: center;
    margin-bottom: 1em;
    font-style: italic;
}

@media screen and (max-width: 370px) {
    .container, footer {
        width:100%;
    }
}